#taste_table table {
  table-layout:fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  vertical-align: top;
  background-color: #FE0085;
  border: 1px solid black;
}

#taste_table table tr {
  background-color: #FFE419;
  vertical-align: middle;
}

#taste_table table th {
  background-color: #FE0085;
  vertical-align: middle;
}

#taste_table table td {
  vertical-align: bottom;
}

#paginate_links {
  text-align: center;
}

span a, span.page.current, span {
  font-family: 'Chewy', cursive;
  font-size: 1.3rem;
  color: #FE0085;
  transition: background-color 300ms ease-out;
}

span a:hover {
  color: white;
}

html body nav.top-bar ul.title-area li.name h1 a:hover {
  color: white
}

table td, table th {
  border: 1px solid black;
}
