#taste_table table {
  table-layout:fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  vertical-align: top;
  background-color: #FE0085;
}

#taste_table table tr {
  background-color: #FFE419;
  vertical-align: middle;
}
